.carte{
    margin:10px;
    padding:25px;
    border: 1px solid ;
    border-radius:10px;
    width: 200px;
    background-color: rgb(255, 250, 243);
    color:black;

}
#imag{
    width: 100px;
}
.container-carte{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;

}
#gen1{
    display: flex;
    flex-wrap: wrap;
}

 #gen2{
    display: flex;
    flex-wrap: wrap;
}

#gen3{
    display: flex;
    flex-wrap: wrap;
}
#container{
    display: flex;
    flex-wrap: wrap;
}