dialog::backdrop {
  background: rgba(135, 115, 115, 0.25);
}
#close{
    z-index: 200;
    width: 100px;
    position: fixed;
    display: flex;
    align-self: flex-end;
   
  
}
dialog{
    background-color: rgba(240, 248, 255, 0);
    border-color: rgba(255, 255, 255, 0);
    align-items: center;
}

dialog form{
     display: flex;
   
    flex-direction: column;
  background-color: rgb(255, 255, 255);
  width: 200px;

}
#echang_button{  
  z-index: 200;
    width: 100px;
    position: fixed;
    display: flex;
    align-self: flex-end;
    margin-top: 700px;
   }