.menu{
	border: solid 2px;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	width: 200px;
	height: 350px;
	background-color: #F1F1F1;
}

.images{
	border: solid 1px;
	border-radius: 10px;
	margin: 30px;
	width: 200px;	
	margin-left: 50px;
	margin-right: 50px;
	padding: 20px;
	font-size: 20px;

}

.images:hover {
	background-color: rgb(206, 197, 197);
  }


.images:active {
	box-shadow:
	  inset -2px -2px 3px rgba(255, 255, 255, 0.6),
	  inset 2px 2px 3px rgba(197, 195, 195, 0.6);
  }
  

.block{
	text-align: center;
	padding: 10px;
}


.block2{
	text-align: center;
	margin-bottom: 17px;
	width:100%;
	padding-left: 5%;
	padding-right: 5%;
	height: 350px;
}

.block3{
	
	padding: 10px;
	margin: 20px;
	width: 200px;
	height: 332px;
	
}

.block4{
	width: 100%;
	height: 100%;
	display: flex;
	align-items: end;
	padding: 10px;
	

	
}
a{
	margin-left:20px;
	text-decoration: none;
	color: black;
	
}
.carte{

	border: solid 1px;
	border-radius: 10px;
	width:200px;
	margin: 10px;

	
}

.search{
	width: 210px;

}

nav{
	border: solid 1px;
	border-radius: 10px;
	padding: 7px;
	text-align: start;
	font-size: 20px;
	background-color: rgb(254, 254, 254)
}

@media screen and (max-width: 800px){ 
	.block {
		width: 100%;
	}
}

html{
	background-color: white;
}
.bandeau{
	margin-top:10px;
	width: 100%;
	border-radius: 10px;
}