*{
	margin: 0px;
	padding: 0px;
	font-family: Avenir, sans-serif;
}
html{
    background-color: #D8E5D4;
	height: 100%;
	margin: 0;
}
p{
	color: #868F6F;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main {
    flex: 1; /* Permet au contenu principal de prendre tout l'espace disponible */
    overflow-y: auto; /* Ajouté pour permettre le défilement du contenu principal */
}
a{
	color: black;
}
.images{
	border: solid 1px;
	border-radius: 10px;
	margin: 30px;
	width: 250px;	
	margin-left: 50px;
	margin-right: 50px;
	padding: 20px;
	font-size: 20px;
	background-color: white;
}

.images:hover {
	background-color: rgb(206, 197, 197);
  }


.images:active {
	box-shadow:
	  inset -2px -2px 3px rgba(255, 255, 255, 0.6),
	  inset 2px 2px 3px rgba(197, 195, 195, 0.6);
  }
  
nav{
	z-index: 1;
	border: solid 1px;
	border-radius: 0px;
	text-align: start;
	justify-content: center;
	font-size: 20px;
	width: 100%;
	margin: 0 auto;
	background-color: rgb(255, 255, 255);
	position: fixed;
	top: 0px;
	
}

.icon{
	width: 90px;
}
.icon1{
	width: 50px;
}


/* Menu Déroulant */
.menu{
	border: solid 2px;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	width: 200px;
	height: 350px;
}
nav ul{
	list-style-type: none;
}

nav ul li{
	float: left;
	width: 25%;
	text-align: center;
	position: relative;
}

nav ul::after{
	content: "";
	display: table;
	clear: both;
}

nav a{
	display: block;
	text-decoration: none;
	color:#868F6F;
	border-color: black;
	border-bottom: 2px solid transparent;
	padding: 10px 0px;
}

nav a:hover{
	color: rgb(51, 49, 45);
	border-bottom: 2px solid rgb(54, 54, 53);
}
nav > ul li:hover .sous{
	display: block;
}
.sous{
	display: none;
	box-shadow: 0px 1px 2px #CCC;
	background-color: white;
	position: absolute;
	width: 100%;
	z-index: 1000;
}

.sous li{
	float: none;
	width: 100%;
	text-align: left;
}
.sous a{
	padding: 10px;
	border-bottom: none;
}
.sous a:hover{
	border-bottom: none;
	background-color: RGBa(200,200,200,0.1);
}
.deroulant > a::after{
	font-size: 12px;
}
/* */

ul{
    display:flex;
    flex-direction: row;
    justify-content: center;
}
aside{
	display: flex;
    flex-direction: column;
    margin-top: 30px;
    width: 200px; 
}

.custom-select  {
	display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%; 
    border-radius: 4px;
    padding: 0; 
}
span{
	background-color: rgba(0, 0, 0, 0.071);
}
.block{
    font-size: 20px;
    width: 200px;
    background-color: white;
    border-radius: 2px;
    margin:10px;
    overflow: hidden;
}
.block1{
    display: flex;  
    flex-direction: column; 
    margin: 10px;
    padding:10px;
}

.block2{
    display: flex; 
    justify-content: center;
    flex-direction: row;
	flex-wrap: wrap;
	text-align: center;
	margin-bottom: 17px;
	padding-left: 5%;
	padding-right: 5%;
	height: 350px;
	margin-top: 30px;
}

.block5{
	text-align: center;
	width:100%;
	padding-left: 5%;
	padding-right: 5%;
	height: 350px;
}
.block3{
	display: flex;
	flex-direction: column;
	width: 255px;
	margin: 10px;
}

.block4{
	flex: 1; 
	width: 100%;
	height: 100%;
	display: flex;
	padding: 10px;
}
a{
	margin-left:20px;
	text-decoration: none;
	color: black;
}

li{
    padding: 20px;
    list-style-type : none;
}

ul{
    display:flex;
    flex-direction: row;
    justify-content: center;
    
}

.bandeau3{
	position: absolute;
	z-index: -1;
	width: 100%;

}
h1{
	margin-left: 20px;
	margin-top: 100px;
	text-align: center;
	font-family:'Courier New', Courier, monospace;
	font-size: 60px;
}
.input{
	margin-left: 10px;
	width: 210px;
	margin-bottom: 20px;
	border-radius: 5px;
}
input{
    display: flex;
    justify-content: center;
    width: 90%;
    margin-top: 10px;
    padding: 5px; 
    border: 1px solid #ccc; 
}
.genre{
	margin-left: auto; 
    width: 50px;
	display: flex;
	justify-content: center;
 	box-sizing: border-box;
}


/*CARTE*/

#container{
display: grid;
justify-content: center;
grid-template-columns: repeat(4,1fr); 
}

.carte{
	position: absolute;
	width: 100%;
	height: 100%;
	border: solid 2px;
	border-radius: 10px;
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	
  }
  
.container-carte {
	position: relative;   
	width: 200px;
	height: 200px; 
	perspective: 600px;
	margin: 20px;
	cursor: pointer;
	transform-style: preserve-3d;

}


.carte-devant{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: aliceblue;
}

.carte-dos {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: aliceblue;
	color: black;
	border: solid 2px;
	border-radius: 10px;
	transform: rotateY(180deg);
}

.flip{
	transform: rotateY(180deg);
}
/* */

/*BARRE DE RECHERCHE*/
.loupe{
	width: 35px;
}

.search{
	font-size: 18px;
	border: none;
	background-color: transparent;
	outline: none;
	color: rgb(0, 0, 0);
	width: 320px;

}
.search-barre{
	margin-left: 110px;
	padding: 10px;
	background-color: #263f353a;
	border-radius: 30px;
	width: max-content;
	display: flex;
}
/*END*/






/* FORMULAIRE */

form{
    display: grid;
	justify-content: center;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(4,1fr); 
	grid-auto-rows: 1fr ;
    margin: 10px;
    width: 50%;
    height: 60%;
    border: 1px solid;
    border-radius: 20px;
    padding: 20px;
}

#submit{
    width: 92%;
    margin-top: 10px;
    height: 10%;
}
label{
    margin-top: 10px;
}
.success{
    background-color: rgb(116, 160, 50);
}
.success li {
	color: white;
}
.invalide{
    background-color: rgb(213, 75, 80);
}

.visible{
    display: block;
}
.error{
    display: none; 
 }

button{
    border: 1px solid;
    border-radius: 6px;
}
.errorContainer{
	margin: 10px ;
    background-color: rgb(213, 75, 80);
}
.successContainer{
	margin: 10px;
    background-color: rgb(116, 160, 50);
} 
.conteneur{
margin: 50px 20px;
height: 1500px;
}



.afficher-contenu{
    display: block;
}
/*Fin Du FORMULAIRE */


/*MODE SOMBRE*/
.black{
    background-color:rgb(47, 43, 43);
    color: white;
}

#sombre{
       border: 1px solid;
       border-radius: 10px;
       padding: 10px;
       margin: 30px;
       box-shadow: rgb(189, 185, 185);
      
}
/* Fin du MODE SOMBRE*/


/* Tableau */
.tab{
    border: 1px solid;
    border-radius: 5px;
    margin: 10px;
    padding: 5px;
   
}
.tab-active{
    font-weight: bold;
    background-color: gray;
}
.active{
    display: block;
}

.hide{
    display: none;
}
/*Fin du TABLEAU */

/* Style marquet*/
.swiper {
    width: 75%;

  }


h4{
    display: flex;
    justify-content: center;
}


.swiper-slide{
    display: flex;
    flex-direction: row;
}

img{
    width: 90%;
    display: flex;
    justify-self: center;
}

.swiper-button-prev{
    color:#868F6F;
}



#text{
    padding: 10px;
    margin-left: 10%;
	width: 80%;
    position: absolute;
    color: rgb(18, 17, 17);
    border: 2px solid rgb(0, 0, 0) ;
    border-radius: 10px;
    overflow: hidden;

}

p{
    width: 35%;
}
.section1{
    display: flex;
    justify-content: center;
}
h2{
    display: flex;
    justify-content: center;
}

.partenariat{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin:10px;
}

footer {
   display: flex;
    padding: 20px;
    text-align: center;
    position: sticky;
    bottom: 0;
}
